* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Customized Scroll Bar */

body::-webkit-scrollbar {
  width: 0.8rem;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
body::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* Handle */
body::-webkit-scrollbar-thumb {
  background: #888;
}

header {
  height: 100vh;
  /* position: relative; */
}

.video-container {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Nab Bar Section  */

.logo {
  height: 4rem;
  width: 4rem;
}

@media screen and (min-width: 800px) {

  .nav-center {
    width:  90vw;
    max-width: 1170px;
    /* position: relative; */
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  .nav-header {
    padding: 0;
  }

  nav {
    background: transparent;
  }


  .links {
    display: flex;
    list-style: none;
  }
  
}

.links li {
  padding-left: 2rem;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

nav ul li:hover {
  color: white;
}

/* Banner  */

.banner {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

h1 {
  font-size: 4rem;
  letter-spacing: 0.1rem;
}

.banner p {
  font-size: 1rem;
  padding: 1rem 3rem;
  line-height: 1.5rem;
}

#explore-btn {
  padding: 1rem 4rem;
  background-color: transparent;
  color: white;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  border: 1px solid white;
  transition: 0.3s ease-in-out;
}

#explore-btn:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

/* Hero section */

.section {
  height: 80vh;
}

.section h2 {
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: .3rem;
}

.txt-color {
  color: aqua;
}

/* About */
#about {
  background: #fdffcd; 
}

#tours {
  background: #e0ffcd; 
}

/* Footer */
footer {
  border: 2px solid black;
  height: 12rem;
display: flex;
justify-content: center;
align-items: center;
background: #142d4c; 
}

.copyright {
  font-size: 1rem;
  text-align: center;
  letter-spacing: .2rem;
  font-weight: 400;
  color: white;
}